<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="styleSheet" href="font.css"/>
    <link type="text/css" rel="styleSheet" href="hardcode.css"/>
    <title>template</title>
</head>
<body>
<div id="template" v-if="Object.keys(data).length">
    <div class="hardcode" v-if="data.hardcode">HARDCODE</div>
    <div class="left">
        <div class="title"></div>
        <div class="tags">
            <div :class="'tag' + (Object.keys(data.tags).indexOf(field) + 1)" v-for="(item, field) in data.tags">
                <template v-if="item.show_title">{{ item.title }}:</template>
                <template v-if="item.show_value">{{ item.value }}</template>
                <template v-else>？？？</template>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="opts">
            <div style="height: 50px"></div>
            <div class="tag-bg" v-for="item in data.tags">
                <template v-if="item.show_title">{{ item.title }}</template>
                <template v-else>？？？</template>
            </div>
        </div>
        <div class="opts" v-for="(item, code) in data.wrongs">
            <div class="avatar">
                <img :src="'../../../resource/gamedata/avatar/' + code + '%231.png'" :alt="code">
            </div>
            <div class="tip-icon" v-for="(tag, field) in data.tags" :class="item[field]"></div>
        </div>
    </div>
</div>
</body>
<script src="js/vue.min.js"></script>
<script>
    const template = new Vue({
        el: '#template',
        methods: {
            init(data) {
                this.$set(this, 'data', data)
            }
        },
        data() {
            return {
                data: {}
            }
        },
        mounted() {
            window.init = this.init
        }
    })
</script>
</html>
