.skill-type {
    display: flex;
    margin-bottom: 5px;
}

.skill-type > div {
    margin-right: 5px;
    background: #737373;
    padding: 3px 8px;
    border-radius: 4px;
}

.skill-type > .tINCREASE_WITH_TIME,
.skill-type > .t1 {
    background: #98c043 !important;
}

.skill-type > .tINCREASE_WHEN_ATTACK,
.skill-type > .tINCREASE_WHEN_TAKEN_DAMAGE,
.skill-type > .t2,
.skill-type > .t4 {
    background: #ec7e4c !important;
}
