<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="styleSheet" href="font.css"/>
    <link type="text/css" rel="styleSheet" href="operatorToken.css"/>
    <link type="text/css" rel="styleSheet" href="./css/skillType.css"/>
    <title>template</title>
</head>
<body>
<div id="template" v-if="Object.keys(data).length">
    <div class="title" v-if="data.id">
        <img :src="avatarIconPath(data.id + '%231')" :alt="data.id">
        {{ data.name }} 的召唤物
    </div>
    <div v-for="item in data.tokens" class="tokenItem">
        <div class="tokenInfo">
            <div style="margin-right: 20px" :class="item.id">
                <img :src="avatarIconPath(item.id + '%231')" :alt="item.id" :id="item.id"
                     onerror="hideImage(this)">
            </div>
            <div>
                <div>
                    <span style="font-size: 30px">{{ item.name }}</span>
                    <span style="padding: 0 10px">{{ item.en_name }}</span>
                    <span style="padding: 3px 10px; border-radius: 4px"
                          :style="{ backgroundColor: type[item.type] }">{{ item.type }}</span>
                </div>
                <div style="margin-top: 10px">{{ item.description }}</div>
            </div>
        </div>
        <div style="margin: 20px 0">
            <div class="tag">攻击范围</div>
            <div v-html="range(item.attr[0].range)"></div>
        </div>
        <div style="margin: 20px 0" v-if="item.talents">
            <div class="tag">天赋</div>
        </div>
        <div>
            <table style="font-size: 14px">
                <tr>
                    <td>最大生命值</td>
                    <td>{{ maxAttrs(item).atk }}</td>
                    <td>攻击力</td>
                    <td>{{ maxAttrs(item).def }}</td>
                </tr>
                <tr>
                    <td>防御力</td>
                    <td>{{ maxAttrs(item).magicResistance }}</td>
                    <td>魔法抗性</td>
                    <td>{{ maxAttrs(item).maxHp }}</td>
                </tr>
                <tr>
                    <td>攻击间隔</td>
                    <td>{{ maxAttrs(item).baseAttackTime }}</td>
                    <td>阻挡数</td>
                    <td>{{ maxAttrs(item).blockCnt }}</td>
                </tr>
                <tr>
                    <td>部署费用</td>
                    <td>{{ maxAttrs(item).cost }}</td>
                    <td>再部署时间</td>
                    <td>{{ maxAttrs(item).respawnTime }}</td>
                </tr>
            </table>
        </div>
        <div style="margin-top: 20px">
            <div class="tag">技能</div>
            <div v-for="(skill, name) in item['skills']" style="margin-bottom: 20px">
                <div style="margin-bottom: 5px; display: flex; align-items: center;">
                    <div style="margin-right: 20px">{{ maxSkill(skill).name }}</div>
                    <div class="skill-type">
                        <div :class="'t' + maxSkill(skill).spData.spType">
                            {{ spType[maxSkill(skill).spData.spType] }}
                        </div>
                        <div>{{ skillType[maxSkill(skill).skillType] }}</div>
                        <div v-if="maxSkill(skill).spData.spCost">
                            技力 {{ maxSkill(skill).spData.initSp }}/{{ maxSkill(skill).spData.spCost }}
                        </div>
                        <div v-if="maxSkill(skill).spData.duration > 0">
                            持续 {{ maxSkill(skill).spData.duration }} 秒
                        </div>
                    </div>
                </div>
                <div v-html="colorSpan(maxSkill(skill).description)"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/vue.min.js"></script>
<script src="js/gamedata.js"></script>
<script>
    function hideImage(e) {
        document.querySelector('.' + e.id).style.display = 'none'
    }

    const template = new Vue({
        el: '#template',
        methods: {
            init(data) {
                this.$set(this, 'data', data)
            },
            maxAttrs(item) {
                item = item.attr[item.attr.length - 1]
                return item.attr[item.attr.length - 1].data
            },
            maxSkill(item) {
                return item.levels[item.levels.length - 1]
            },
            range(text) {
                let lines = []
                for (let line of text.split('\n')) {
                    let items = []
                    for (let char of line) {
                        switch (char) {
                            case '　':
                                items.push('<div class="block"></div>')
                                break
                            case '□':
                                items.push('<div class="block r"></div>')
                                break
                            case '■':
                                items.push('<div class="block s"></div>')
                                break
                        }
                    }
                    lines.push(`<div class="block-group">${items.join('')}</div>`)
                }
                return lines.join('')
            }
        },
        data() {
            return {
                data: {},
                attrsDict: {
                    atk: '攻击力',
                    def: '防御力',
                    magicResistance: '魔法抗性',
                    maxHp: '最大生命值',
                    baseAttackTime: '攻击间隔',
                    blockCnt: '阻挡数',
                    cost: '部署费用',
                    respawnTime: '再部署时间'
                },
                type: {
                    '远程位': '#4caf50',
                    '近战位': '#f44336',
                    '不限部署位': '#9c27b0'
                }
            }
        },
        mounted() {
            window.init = this.init
        }
    })
</script>
</html>
