<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="styleSheet" href="font.css"/>
    <link type="text/css" rel="styleSheet" href="operatorStory.css"/>
    <title>template</title>
</head>
<body>
<div id="template">
    <div class="story-item" v-for="item in data">
        <div class="story-title" v-if="item.name">{{ item.name }}</div>
        <div class="story-text" v-html="item.text"></div>
    </div>
</div>
</body>
<script src="js/vue.min.js"></script>
<script>
    const template = new Vue({
        el: '#template',
        methods: {
            init(data) {
                this.$set(this, 'data', data)
            }
        },
        data() {
            return {
                data: []
            }
        },
        mounted() {
            window.init = this.init
        }
    })
</script>
</html>
