<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="referrer" content="no-referrer"/>
    <title>template</title>
    <link type="text/css" rel="styleSheet" href="font/font.css"/>
    <link type="text/css" rel="stylesheet" href="chars.css">
</head>
<body>
<div id="template" v-if="Object.keys(data).length">
    <div>
        <div class="chars-list" v-for="charsList in chars">
            <div class="char-info" v-for="char in charsList.chars"
                 :style="{ backgroundImage: `url(./assets/rarity_bg/R${char.charInfo.rarity}.png)` }">
                <div class="char-skin">
                    <img :src="getSkinPortraitUrl(char.skinId)" :alt="char.skinId">
                </div>
                <div class="left-top-tag"
                     :style="{ backgroundImage: `url(./assets/rarity_tag/R${char.charInfo.rarity}.png)` }"></div>
                <div class="left-bottom-tag"></div>
                <div class="color-bar"
                     :style="{ backgroundImage: `url(./assets/rarity_bar/${char.charInfo.rarity}.png)` }"></div>
                <div class="block-bar"
                     :style="{ backgroundImage: `url(./assets/rarity_bar/R${char.charInfo.rarity}.png)` }">
                    {{ char.charInfo.charId === 'char_1001_amiya2' ? '阿米娅（近卫）' : char.charInfo.name }}
                </div>
                <div class="char-classes-star">
                    <div class="classes"
                         :style="{ backgroundImage: `url(./assets/classes/${char.charInfo.profession}.png)` }"></div>
                    <div class="star"
                         :style="{ backgroundImage: `url(./assets/rarity_star/${char.charInfo.rarity}.png)` }"></div>
                </div>
                <div class="evolve-phase"
                     :style="{ backgroundImage: `url(./assets/evolvePhase/${char.evolvePhase}.png)` }"></div>
                <div class="potential-rank"
                     :style="{ backgroundImage: `url(./assets/potentialRank/${char.potentialRank}.png)` }"></div>
                <div class="char-level">
                    <div>Lv</div>
                    {{ char.level }}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/vue.min.js"></script>
<script src="js/character.js"></script>
<script>
    const template = new Vue({
        el: '#template',
        methods: {
            init(data) {
                this.$set(this, 'data', data.data)
                this.initChars(data.minEvolvePhase, data.minRarity)
            },
            initChars(minEvolvePhase, minRarity) {
                const chars = {}
                const result = []

                for (const item of this.data.chars) {
                    const info = this.data.charInfoMap[item.charId]
                    if (item.evolvePhase >= minEvolvePhase && info.rarity >= minRarity) {
                        if (!chars[info.rarity]) {
                            chars[info.rarity] = []
                        }
                        chars[info.rarity].push(
                            {
                                ...item,
                                charInfo: info
                            }
                        )
                    }
                }

                for (const r in chars) {
                    chars[r].sort((a, b) => {
                        return b.level * b.evolvePhase - a.level * a.evolvePhase
                    })
                    result.push(
                        {
                            rarity: r,
                            chars: chars[r]
                        }
                    )
                }

                this.$set(this, 'chars', result.sort((a, b) => b.rarity - a.rarity))
            }
        },
        data() {
            return {
                data: {},
                chars: [],
                getSkinPortraitUrl
            }
        },
        mounted() {
            window.init = this.init
        }
    })
</script>
</html>
