* {
    color: #fff;
    font-size: 18px;
    box-sizing: border-box;
}

body {
    margin: 0;
}

#template {
    width: 1640px;
    padding: 20px;
    background: #202020;
}

.dr-name {
    margin: 20px 0 30px 0;
    display: flex;
    align-items: center;
}

.dr-name .avatar {
    background: rgb(255, 255, 255);
    width: 65px;
    height: 65px;
    border-radius: 15px;
    overflow: hidden;
    margin-right: 20px;
}

.star-title {
    border-left: 5px solid;
    padding-left: 10px;
}

.star-title.r5 {
    border-color: #FF4343;
}

.star-title.r4 {
    border-color: #FEA63A;
}

.star-title.r3 {
    border-color: #A288B5;
}

.star-title .star {
    height: 20px;
    background: center left / auto 20px no-repeat;
}

.chars-list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.char-item {
    display: flex;
    margin-bottom: 15px;
}

.char-skills {
    height: 100%;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.skill-item {
    width: fit-content;
    height: 40px;
    border: 3px solid transparent;
    position: relative;
    margin-top: 10px;
}

.skill-item.default {
    border-color: #2196f3;
}

.skill-item > img:first-child {
    height: 100%;
}

.skill-item > img:last-child {
    width: 20px;
    border-radius: 4px;
    background: rgb(0 0 0 / 60%);
    position: absolute;
    bottom: -5px;
    right: -5px;
}

.char-info {
    width: 90px;
    height: 180px;
    background: center / 100% auto no-repeat;
    position: relative;
}

.char-skin {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.char-skin img {
    width: 100%;
}

.left-top-tag {
    width: 50%;
    height: 100%;
    background: left top / 100% auto no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}

.left-bottom-tag {
    background: #343434;
    width: 50%;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.color-bar {
    width: 100%;
    height: 100%;
    background: center / 100% auto no-repeat;
    position: absolute;
    left: 0;
    bottom: -25px;
}

.block-bar {
    width: calc(100% + 8px);
    height: 80px;
    font-size: 13px;
    padding: 0 3px 3px 0;
    color: #fff;
    background: center / 100% auto no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    left: -4px;
    bottom: -7px;
}

.char-classes-star {
    width: 100%;
    height: 25px;
    padding: 3px;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
}

.char-classes-star .classes {
    width: 17px;
    background: center / 100% auto no-repeat;
}

.char-classes-star .star {
    flex: 2;
    height: 100%;
    background: center left / auto 20px no-repeat;
}

.evolve-phase {
    width: 40px;
    height: 80px;
    background: center / 100% auto no-repeat;
    position: absolute;
    left: 3px;
    bottom: 28px;
}

.potential-rank {
    width: 25px;
    height: 25px;
    background: rgb(0 0 0 / 40%) center / 100% no-repeat;
    position: absolute;
    right: 5px;
    bottom: 15px;
}

.char-level {
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid #ffdc00;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 3px;
    bottom: 12px;
}

.char-level > div {
    height: 10px;
    font-size: 12px;
    zoom: 0.7;
}

.strength {
    width: 70px;
    display: flex;
    flex-direction: column;
}

.equip {
    width: 45px;
    height: 30px;
    position: relative;
}

.equip > img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.info-span,
.info-span > span {
    font-size: 14px;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
}

td {
    padding-right: 15px;
}
