.main {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 垂直居中对齐 */
    align-items: center; /* 水平居中对齐 */
    font-family: '微软雅黑';
    font-size: 14px;
}

.gacha-pool {
    width: 280px;
    height: 100%;
    float: left;
}

.gacha-pool > div {
    width: 100%;
    float: left;
}

.pool-name {
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #666;
    font-size: 20px;
    margin-top: 10px;
}

.canvas-content {
    width: 100%;
}

.canvas-content canvas {
    margin: 0;
}

.time-range {
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #999;
}

.gacha-info {
    line-height: 24px;
}

.star6-container {
    display: grid; /* Enables CSS Grid layout */
    grid-template-columns: repeat(2, 1fr); /* 2 equal-width columns */
    gap: 5px; /* Adjusts spacing between grid items */
}

.star6-block {
    padding: 5px; /* Adds padding around each block */
    border: 1px solid #ccc; /* Adds a border to each block */
    border-radius: 5px; /* Optional: adds rounded corners */
    text-align: center; /* Centers text inside the block */
    background-color: #f9f9f9; /* Optional: background color */
}

.star6 {
    background-color: orange;
}

.star5 {
    background-color: gold;
}

.star4 {
    background-color: dodgerblue;
}

.star3 {
    background-color: gray;
}

.star6-text {
    color: darkorange;
}

.star5-text {
    color: goldenrod;
}

.star4-text {
    color: dodgerblue;
}

.star3-text {
    color: gray;
}

.new {
    position: relative;
    left: -9px;
    top: -12px;
    font-size: 12px;
    color: red;
}

.footer {
    width: 100%;
}

.copyright {
    font-family: '微软雅黑';
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
    text-align: center;
}
