.main {
	min-width: 400px;
	min-height: 600px;
	float: left;
	font-family: '微软雅黑';
	font-size: 14px;
}

.gacha-pool {
	width: 400px;
	height: 100%;
	float: left;
	margin-left: 80px;
}

.gacha-pool:first-child {
	margin-left: 0;
}

.gacha-pool > div {
	width: 100%;
	float: left;
}

.pool-name {
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #666;
	font-size: 20px;
	margin-bottom: 20px;
}

.color-info {
	height: 30px;
}

.color-info .color {
	width: 80px;
	height: calc(100% - 10px);
	margin: 5px 10px;
	border-radius: 3px;
	text-align: center;
	color: #fff;
	float: left;
}

.canvas-content {
	width: 100%;
	height: 220px;
}

.canvas-content canvas {
	width: 400px;
	height: 200px;
	margin: 10px 0;
}

.time-range {
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #999;
}

.gacha-info {
	min-height: 280px;
	line-height: 24px;
}

.star6-block {
	margin: 0 5px;
}

.star6 {
	background-color: orange;
}

.star5 {
	background-color: gold;
}

.star4 {
	background-color: dodgerblue;
}

.star3 {
	background-color: gray;
}

.star6-text {
	color: darkorange;
}

.star5-text {
	color: goldenrod;
}

.star4-text {
	color: dodgerblue;
}

.star3-text {
	color: gray;
}

.new {
	position: relative;
	left: -9px;
	top: -12px;
	font-size: 12px;
	color: red;
}