* {
    color: #fff;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    margin: 0;
}

#template {
    width: 1200px;
    padding: 20px;
    background: #202020;
}

.dr-name {
    margin: 0 0 30px 0;
    display: flex;
    align-items: center;
}

.dr-name .avatar {
    background: rgb(255, 255, 255);
    width: 65px;
    height: 65px;
    border-radius: 15px;
    overflow: hidden;
    margin-right: 20px;
}

.title {
    font-size: 24px;
    height: 38px;
    padding-left: 42px;
    display: flex;
    align-items: center;
}

.title:not(:first-child) {
    margin-top: 20px;
}

.title.campaigns {
    background: url(./assets/campaigns.png) center left / 38px no-repeat;
}

.title.main {
    background: url(./assets/main.png) center left 7px / 24px no-repeat;
}

.title.sideStories {
    background: url(./assets/sideStory.png) center left 7px / 24px no-repeat;
}

.title.roguelike {
    background: url(./assets/roguelike.png) center left 7px / 24px no-repeat;
}

.comp {
    width: calc(100% / 4 - 20px);
    margin: 10px;
    display: flex;
    border-radius: 6px;
    background: #2c2c2c;
    box-shadow: 0 0 6px #141414;
}

.faction {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    background: center / 100% no-repeat;
    opacity: .8;
}

.missions {
    flex: 2;
    padding: 5px 5px 0 0;
}

.missions > div {
    display: flex;
    padding: 3px 10px;
    margin-bottom: 5px;
    background: #3e3e3e;
    box-shadow: 0 0 5px #141414;
    justify-content: space-between;
    align-items: center;
}

.missions > div > div:first-child {
    font-size: 12px;
}

.missions > div > div:last-child {
    padding-left: 13px;
    background: url(./assets/kill.png) center left / 10px no-repeat;
    color: #FF5722;
}

.sideStory {
    width: calc(100% / 6 - 10px);
    margin: 5px 5px 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sideStory > img {
    width: 100%;
}

.rogue {
    width: calc(100% / 3 - 20px);
    margin: 10px;
}

.rogue > img {
    width: 100%;
}

.tower {
    width: calc(100% / 5 - 20px);
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    background: #2c2c2c;
    box-shadow: 0 0 6px #141414;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ssName {
    display: none;
    color: #9E9E9E;
}
