* {
    color: #fff;
    font-size: 18px;
    box-sizing: border-box;
}

body {
    margin: 0;
}

#template {
    width: 800px;
    height: 400px;
    background: #252525 right -100px top 20px / auto 600px no-repeat;
    padding: 25px;
}

.avatar {
    background: rgb(255, 255, 255);
    width: 65px;
    height: 65px;
    border-radius: 15px;
    overflow: hidden;
    margin-right: 20px;
}

.level {
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
}

.dr-name {
    font-size: 30px;
    margin: 20px 0 20px 0;
}

.count-info {
    margin-right: 20px;
}

.count-info > div:first-child {
    font-size: 16px;
    color: #9E9E9E;
}

.count-info > div:first-child:after {
    content: '//';
    color: #03A9F4;
    padding-left: 10px;
}

.count-info > div:last-child {
    font-size: 25px;
}

.resource {
    padding-left: 10px;
    margin-right: 10px;
}

.resource > div {
    height: 20px;
    padding: 0 5px;
    display: flex;
    align-items: center;
}

.resource * {
    font-size: 14px;
}

.resource > div > div:first-child {
    width: 65px;
}

.assist {
    width: fit-content;
    padding: 15px;
    border-radius: 6px;
    background: rgb(0 0 0 / 80%);
    margin-top: 20px;
    display: flex;
}

.assist > div {
    display: flex;
}

.assist-char {
    min-width: 220px;
}

.assist-char-avatar {
    height: 80px;
    padding: 3px;
    margin-right: 5px;
    border-radius: 6px;
    background: rgb(158 158 158 / 10%);
    position: relative;
}

.evolve-phase {
    width: 25px;
    position: absolute;
    bottom: 27px;
    right: 0;
}

.potential-rank {
    width: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.char-level {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #ffdc00;
    background: rgb(0 0 0 / 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -10px;
    bottom: -10px;
}

.equip {
    height: 100%;
    position: relative;
}

.equip > img {
    height: 100%;
    text-align: center;
}

.equip > img:first-child {
    position: absolute;
    top: 0;
    left: -6px;
}

.skill {
    width: 30px;
}

.skill-level {
    font-size: 14px;
}

.shadow {
    padding: 2px;
    border-radius: 6px;
    background: rgb(0 0 0 / 50%);
}
