<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="styleSheet" href="font/font.css"/>
    <link type="text/css" rel="styleSheet" href="userInfo.css"/>
    <title>template</title>
</head>
<body>
<div id="template" v-if="Object.keys(data).length" :style="secretary(data.status.secretary.charId)">
    <div style="display: flex">
        <div class="avatar">
            <img style="width: 100%;"
                 :src="avatar(data.status.secretary.skinId)"
                 :alt="data.status.avatar.type"
                 onerror="hideImage(this)">
        </div>
        <div style="display: flex; align-items: center; flex-direction: column;">
            <div style="display: flex; align-items: center;">
                <div class="level">{{ data.status.level }}</div>
                <div>
                    <div style="font-size: 14px;">Lv.</div>
                    <div>博士等级</div>
                </div>
            </div>
            <div style="font-size: 14px; color: #9E9E9E; margin-top: 5px">
                入职日：{{ dateTime(data.status.registerTs, 'y-m-d') }}
            </div>
        </div>
    </div>
    <div class="dr-name">
        {{ data.status.name }}
        <div style="font-size: 14px; color: #9E9E9E">UID: {{ data.status.uid }}</div>
    </div>
    <div style="display: flex;">
        <div class="count-info">
            <div>作战进度</div>
            <div>{{ stageProgress() }}</div>
        </div>
        <div class="count-info">
            <div>干员数量</div>
            <div>{{ data.chars.length }}</div>
        </div>
        <div class="count-info">
            <div>时装</div>
            <div>{{ data.skins.length }}</div>
        </div>
    </div>
    <div class="ap">
        <span style="color: #03A9F4;">{{ data.status.ap.current }}</span> / {{ data.status.ap.max }}
    </div>
    <div style="font-size: 12px; color: #9E9E9E; margin-top: 3px">
        最后记录于{{ dateTime(data.status.ap.lastApAddTime) }}
    </div>
</div>
</body>
<script src="js/vue.min.js"></script>
<script src="js/character.js"></script>
<script>
    function hideImage(e) {
        e.src = '../logo.png'
    }

    const template = new Vue({
        el: '#template',
        methods: {
            init(data) {
                const crossTime = (new Date().getTime() / 1000 - data.status.ap.lastApAddTime) / 360

                data.status.ap.current += parseInt(crossTime.toString())
                if (data.status.ap.current >= data.status.ap.max) {
                    data.status.ap.current = data.status.ap.max
                }

                this.$set(this, 'data', data)
            },
            secretary(charId) {
                return {
                    backgroundImage: `url(../../../../resource/gamedata/skin/skin/${charId}_1b.png)`
                }
            },
            avatar(skinId) {
                return getSkinAvatarUrl(skinId)
            },
            stageProgress() {
                const stage = this.data.stageInfoMap[this.data.status.mainStageProgress]
                if (stage) {
                    return stage.code
                }
                return '全部完成'
            },
            dateTime(time, format = 'y-m-d h:i:s') {
                const mSec = time * (time.toString().length < 13 ? 1000 : 1)
                const date = new Date(mSec)
                const zero = num => parseInt(num) < 10 ? '0' + num : num

                const contrast = {
                    y: date.getFullYear(),
                    m: zero(date.getMonth() + 1),
                    d: zero(date.getDate()),
                    h: zero(date.getHours()),
                    i: zero(date.getMinutes()),
                    s: zero(date.getSeconds())
                }

                for (let n in contrast) {
                    format = format.replace(new RegExp(n, 'g'), contrast[n])
                }

                return format
            }
        },
        data() {
            return {
                data: {}
            }
        },
        mounted() {
            window.init = this.init
        }
    })
</script>
</html>
