<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="referrer" content="no-referrer"/>
    <link type="text/css" rel="styleSheet" href="font/font.css"/>
    <link type="text/css" rel="styleSheet" href="userInfo.css"/>
    <title>template</title>
</head>
<body>
<div id="template" v-if="Object.keys(data).length" :style="secretary(data.status.secretary.charId)">
    <div style="display: flex; align-items: center;">
        <div class="avatar">
            <img style="width: 100%;"
                 :src="avatar(data.status.secretary.skinId)"
                 :alt="data.status.avatar.type"
                 onerror="changeImage(this)">
        </div>
        <div style="display: flex; align-items: center; flex-direction: column; margin-right: 30px;">
            <div style="display: flex; align-items: center;">
                <div class="level">{{ data.status.level }}</div>
                <div>
                    <div style="font-size: 14px;">Lv.</div>
                    <div>博士等级</div>
                </div>
            </div>
            <div style="font-size: 14px; color: #9E9E9E; margin-top: 5px">
                入职日：{{ dateTime(data.status.registerTs, 'y-m-d') }}
            </div>
        </div>
        <div class="resource shadow" v-for="values in data.values">
            <div v-for="item in values">
                <div>{{ item.name }}</div>
                <div style="display: flex;">
                    <span style="color: #03A9F4;">{{ item.value }}</span>
                    <span style="margin: 0 2px">/</span>
                    <span>{{ item.max }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="dr-name">
        {{ data.status.name }}
        <div style="font-size: 14px; color: #9E9E9E">UID: {{ data.status.uid }}</div>
    </div>
    <div style="display: flex;">
        <div class="count-info">
            <div>作战进度</div>
            <div>{{ stageProgress() }}</div>
        </div>
        <div class="count-info">
            <div>干员数量</div>
            <div>{{ charsNum() }}</div>
        </div>
        <div class="count-info">
            <div>时装数量</div>
            <div>{{ data.skins.length }}</div>
        </div>
        <div class="count-info">
            <div>家具保有量</div>
            <div>{{ data.building.furniture.total }}</div>
        </div>
    </div>
    <div class="assist">
        <div class="assist-char" v-for="char in data.assistChars">
            <div class="assist-char-avatar">
                <img style="height: 100%;" :src="avatar(char.skinId)" :alt="char.skinId" :skinId="char.skinId"
                     onerror="changeUrl(this)">
                <img class="evolve-phase shadow" :src="evolvePhase(char.evolvePhase)" alt="evolvePhase">
                <img class="potential-rank shadow" :src="potentialRank(char.potentialRank)" alt="potentialRank">
                <div class="char-level">{{ char.level }}</div>
            </div>
            <div class="assist-char-info">
                <div style="height: 25px; display: flex; align-items: center;">
                    <template v-if="char.equip && data.equipmentInfoMap[char.equip.id].typeIcon !== 'original'">
                        <div class="equip">
                            <img :src="equipColor(char.equip)" alt="equip">
                            <img :src="equipIcon(char.equip)" alt="equip">
                        </div>
                        <div style="font-size: 14px; padding-left: 5px;">
                            {{ equip(char.equip).typeIcon.toUpperCase() }}
                            <span style="font-size: 14px; padding-left: 3px; color: #FF5722">
                                Lv.{{ char.equip.level }}
                            </span>
                        </div>
                    </template>
                </div>
                <div style="margin-top: 5px;">
                    <img class="skill" :src="skillIcon(char.skillId)" :alt="char.skillId">
                    <div class="skill-level">Rank.{{ char.mainSkillLvl + char.specializeLevel }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/vue.min.js"></script>
<script src="js/character.js"></script>
<script>
    function changeImage(e) {
        e.src = '../logo.png'
    }

    function changeUrl(e) {
        e.src = getSkinAvatarUrl(e.attributes.skinId.value)
    }

    const gamedataPath = '../../../../resource/gamedata'

    const template = new Vue({
        el: '#template',
        methods: {
            init(data) {
                data.values = [
                    [
                        {
                            name: '理智',
                            value: this.restoreCalc(data.status.ap.current, data.status.ap.max, data.status.ap.lastApAddTime),
                            max: data.status.ap.max
                        },
                        {
                            name: '无人机',
                            value: this.restoreCalc(data.building.labor.value, data.building.labor.maxValue, data.building.labor.lastUpdateTime),
                            max: data.building.labor.maxValue
                        },
                        {
                            name: '联络次数',
                            value: data.building.hire.refreshCount,
                            max: 3
                        },
                        {
                            name: '日常任务',
                            value: data.routine.daily.current,
                            max: data.routine.daily.total
                        },
                    ],
                    [
                        {
                            name: '周常任务',
                            value: data.routine.weekly.current,
                            max: data.routine.weekly.total
                        },
                        {
                            name: '剿灭作战',
                            value: data.campaign.reward.current,
                            max: data.campaign.reward.total
                        },
                        {
                            name: '保全派驻',
                            value: data.tower.reward.lowerItem.current,
                            max: data.tower.reward.lowerItem.total
                        },
                        {
                            name: '',
                            value: data.tower.reward.higherItem.current,
                            max: data.tower.reward.higherItem.total
                        },
                    ]
                ]

                this.$set(this, 'data', data)
            },
            restoreCalc(value, max, lastDate) {
                return Math.min(Math.round((Date.now() / 1000 - lastDate) / 360 + value), max)
            },
            secretary(charId) {
                return {
                    backgroundImage: `url(${gamedataPath}/skin/skin/${charId}_1b.png)`
                }
            },
            equip(item) {
                return this.data.equipmentInfoMap[item.id]
            },
            equipIcon(item) {
                return getEquipTypeIconUrl(this.equip(item).typeIcon)
            },
            equipColor(item) {
                return getEquipTypeShiningUrl(this.equip(item).shiningColor)
            },
            avatar(skinId) {
                skinId = skinId.replace(/@/g, '_')
                if (skinId.match(/_/g).length > 2) {
                    skinId = skinId.replace(/#/g, '%23')
                } else {
                    skinId = skinId.replace(/#/g, '_')
                }
                return `${gamedataPath}/avatar/${skinId}.png`
            },
            potentialRank(level) {
                return `./assets/potentialRank/${level}.png`
            },
            evolvePhase(level) {
                return `./assets/evolvePhase/${level}.png`
            },
            skillIcon(skillId) {
                return `${gamedataPath}/skill/skill_icon_${skillId}.png`
            },
            stageProgress() {
                const stage = this.data.stageInfoMap[this.data.status.mainStageProgress]
                if (stage) {
                    return stage.code
                }
                return '全部完成'
            },
            charsNum() {
                return this.data.chars.find(char => char.charId === 'char_1001_amiya2') ? this.data.chars.length - 1 : this.data.chars.length
            },
            dateTime(time, format = 'y-m-d h:i:s') {
                const mSec = time * (time.toString().length < 13 ? 1000 : 1)
                const date = new Date(mSec)
                const zero = num => parseInt(num) < 10 ? '0' + num : num

                const contrast = {
                    y: date.getFullYear(),
                    m: zero(date.getMonth() + 1),
                    d: zero(date.getDate()),
                    h: zero(date.getHours()),
                    i: zero(date.getMinutes()),
                    s: zero(date.getSeconds())
                }

                for (let n in contrast) {
                    format = format.replace(new RegExp(n, 'g'), contrast[n])
                }

                return format
            }
        },
        data() {
            return {
                data: {}
            }
        },
        mounted() {
            window.init = this.init
        }
    })
</script>
</html>
