* {
    color: #fff;
    box-sizing: border-box;
}

body {
    margin: 0;
}

#template {
    width: 100vw;
    padding: 20px;
    background: url(./assets/common_mask.55fff2e9.png) center / cover no-repeat;
}

.items {
    display: flex;
    flex-wrap: wrap;
}

.items > div {
    width: 100px;
    height: 100px;
    background: center / 90% no-repeat;
    position: relative;
}

.items > div > div {
    color: #fff;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: rgb(0 0 0 / 80%);
    padding: 2px 6px;
    border-radius: 6px;
}
